<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">© 2025 Website Quản lý Sinh viên</span>
    </div>
  </footer>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>