<!-- views/error.ejs -->
<h1 class="text-center mb-4">Đã có lỗi xảy ra</h1>
<div class="alert alert-danger" role="alert">
  <%= error %>
</div>
<div class="text-center">
  <a href="/" class="btn btn-primary">Quay lại Trang chủ</a>
</div>